.container {
    display: flex;
    gap: 5em;
}

.grid {
    width: 80em;
    height: 80em;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(8, 10em);  
    grid-template-rows: repeat(8, 10em);     
}

.cell {
    width: 10em;
    height: 10em;
    border: 1px solid black;
    box-sizing: border-box;  
    background-color: white;
}

.track-selector {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.track-option {
    width: 10em;
    height: 10em;
    border: 1px solid black;
    box-sizing: border-box;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}